/* Base styles */
* {
	 box-sizing: border-box;
	 font-family: Arial, Helvetica, sans-serif;
}

#nav-list {text-align: center;}
#nav-list :hover {background: white;}

#main-content {margin:15px;}

section {
	 background: #009900;
	 color:black;
}

h2 {
	 text-align: center;
	 color:black;
}
